@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="p-5" style="background: linear-gradient(170deg, #8E36DE 0%, #F7CFF5 100%);">
            <img src="icons/default-monochrome-white.svg" width="200" alt="logo"/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
