<div class="min-h-screen bg-gray-100 flex items-center justify-center">
    <div class="bg-dark p-4 overflow-clip">

        <CascadingValue Value="this">
            <CascadingValue Value="ApplyStyle">
                @ChildContent
            </CascadingValue>
        </CascadingValue>
        
        
        <div @onfocusout="ResetDecorationButtons">
            <div class="prose a4-page" contenteditable="true"
                 @ref="PageReference"
                 @onmouseup="async () => await UpdateDecorationButtons()"
                 @onkeyup="async e => await OnKeyClicked(e)">
            </div>
        </div>
    </div>
</div>

<style>
    .a4-page {
        box-sizing: content-box;
        border: 1px solid #eee;
        margin-bottom: 8px;
        padding: 0.5in;
        min-height: 11in;
        width: 8.5in;
        background-color: white;
        max-height: 10.8in;
        overflow: hidden;
        outline: none;
    }
</style>
